h1 {
  display: none;
}

.flex__wrapper-index {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 3rem 10% 3rem 10%;
}

.image__logo-background {
  background: url(../images/Home-page-logo-edited.png) no-repeat;
  flex: 1;
}

.image__shop-section {
  background: url(../images/shop-section-bg.jpg) no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11rem;
  flex: 1;
}

.image__logo-background,
.image__shop-section {
  align-self: center;
  background-size: cover;
  background-position: center;
  min-height: 800px;
  max-width: 100%;
  width: 100%;
  margin: 0 500px;
}
