:root {
  --color-main: #146c82;
  --color-main-women: rgb(219, 133, 150);
  --color-placeholder: rgb(20, 108, 130, 0.26);
  --color-cta-main-hover: #0d5162;
  --text-heading: "Libre Baskerville", serif;
  --text-paragraph: "Poppins", sans-serif;
}
